<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="track">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.48780653024367 -2.57886437820403 -0.247000237461496"
        rpy="0 0 0" />
      <mass
        value="147771.931643973" />
      <inertia
        ixx="2281092.55485334"
        ixy="3315.83122560795"
        ixz="2432.49456935465"
        iyy="12985459.7604271"
        iyz="-1115.75681958655"
        izz="15258374.1900984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://track/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://track/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>