<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="track">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.57051046322491 0.253492520584038 3.7051566373581"
        rpy="0 0 0" />
      <mass
        value="122116.506904259" />
      <inertia
        ixx="1524627.42713926"
        ixy="5871.78076656977"
        ixz="245322.582141026"
        iyy="11711806.056211"
        iyz="1580.91627252165"
        izz="10192690.5838965" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://track/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://track/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>