<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="track2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.31026103332738 0.25 2.99164242992945"
        rpy="0 0 0" />
      <mass
        value="147534.352794364" />
      <inertia
        ixx="2278537.36495596"
        ixy="-6.66133814775094E-13"
        ixz="5.17563005942969E-10"
        iyy="15249667.2974511"
        iyz="3.17861925591204E-13"
        izz="12977277.1971949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://track2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://track2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>