<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="obstacle2">
  <link
    name="cube">
    <inertial>
      <origin
        xyz="-7.70371977754895E-34 0.5 -4.16333634234434E-17"
        rpy="0 0 0" />
      <mass
        value="1000" />
      <inertia
        ixx="166.666666666667"
        ixy="0"
        ixz="0"
        iyy="166.666666666667"
        iyz="0"
        izz="166.666666666667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://obstacle2/meshes/cube.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://obstacle2/meshes/cube.STL" />
      </geometry>
    </collision>
  </link>
</robot>